<a href="https://colab.research.google.com/github/rohanwarang28/Programming-Language-detection/blob/main/Copy_of_natural_language_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing

## Importing the libraries

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [29]:
dataset = pd.read_excel('Top Programming languages.xlsx')
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [30]:
print(X)

[['alert, body, class, click, content, data, div, document, else, false, for, form, function, getelementbyid, height, href, html, http, id, if, img, input, is,\njavascript, jquery, js, length, li, name, new, onclick,\noption, return, script, span, src, style, td, text, the,\nthis, title, to, tr, true, type, value, var, width, window']
 ['as, begin, by, case, count, create, date, datetime, dbo, declare, default, desc, end, for, from, group, id, if, in, inner, insert, int, into, is, join, key, left, name, not, null, on, or, order, primary, select, set, sql, sum, t1, table, the, then, to, type, update, value, values, varchar, when, where']
 ['add, apache, at, catch, class, com, exception, false, file, final, for, http, id, if, import, in, int, is, java, javax, lang, list, main, method, name, new, null, object, of, org, out, println, private, property, public, return, source, static, string, sun, system, the, this, to, true, try, type, value, void, xml,{,},;']
 ['add, asp, at, bool, byte, class, console, data, else, false, foo, for, foreach, from, get, id, if, in, int, is, item, list, name, new, null, object, of, private, public, return, select, sender, server, set, static, string, system, text, the, this, to, tostring, true, type, using, value, var, void, where, writeline']
 ['__init__, and, class, data, db, def, django, error, file, foo, for, from, http, id, if, import, in, is, lib, line, models, module, name, none, not, object, of, open, os, packages, path, print, py, python, python2, request, return, self, site, sys, test, text, the, this, to, true, type, user, usr, value,input,float,sum']
 ['_post, and, array, as, br, class, com, content, data, div, echo, else, file, for, from, function, html, http, id, if, in, input, is, name, new, null, of, option, php, public, query, result, return, row, select, string, td, test, text, the, this, title, to, true, type, url, user, value, where, www']
 ['and, bool, boost, char, class, const, cout, cpp, data, double, else, end, endl, error, file, foo, for, function, if, in, include, int, is, it, main, name, new, null, of, operator, private:, public:, return, size, std, string, struct, template, test, the, this, to, type, typename, unsigned, using, value, vector, virtual, void']
 ['and, argc, argv, array, break, buffer, case, char, const, count, data, define, double, else, error, exit, file, for, from, function, if, in, include, int, is, list, long, main, malloc, name, next, node, null, of, printf, return, size, sizeof, stdio, string, struct, temp, the, this, to, typedef, unsigned, value, void, while']
 ['angular, angular2, any, app, class, component, console, constructor, core, data, div, error, export, false, from, function, html, http, id, if, import, interface, is, js, json, let, log, module, name, new, ng, node_modules, number, path, private, public, require, return, router, script, src, string, the, this, to, true, ts, type, value, var']
 ['activerecord, and, base, bin, class, com, def, div, do, each, end, error, file, foo, for, from, gem, gems, html, http, id, if, in, include, is, lib, library, local, name, new, nil, params, post, puts, rails, rake, rb, require, ruby, rubygems, self, string, test, the, to, true, type, user, users, usr']
 ['anyobject, array, as, bool, case, cell, class, data, else, error, false, for, frame, func, height, iboutlet, if, image, import, in, indexpath, init, int, is, let, name, nil, not, nsstring, of, override, println, return, self, sender, size, string, super, swift, tableview, text, the, to, true, uikit, value, var, view, viewdidload, width']
 ['alloc, array, bool, cell, count, data, delegate, else, end, error, for, frame, id, if, import, in, indexpath, init, int, interface, is, name, nil, no, nonatomic, nsarray, nslog, nsmutablearray, nsstring, objectatindex, of, property, release, retain, return, selector, self, size, string, stringwithformat, super, tableview, text, the, to, uiimage, uiview, view, void, yes']
 ['add, and, as, asp, byval, class, data, dim, end, false, for, from, function, get, handles, id, if, in, integer, is, item, me, name, new, next, not, nothing, object, of, private, property, public, return, runat, select, sender, server, set, string, sub, system, text, the, then, to, tostring, true, try, type, value']
 ['and, at, bin, data, die, error, file, foo, for, foreach, from, hash, html, http, id, if, in, is, lib, line, my, name, new, not, of, open, or, perl, pl, pm, print, return, self, shift, strict, string, sub, test, text, the, this, to, txt, type, use, usr, value, warnings, while, xml']
 ['activecell, activesheet, add, and, application, as, cell, cells, count, data, dim, each, else, end, error, false, for, function, if, in, integer, is, long, me, msgbox, name, new, next, not, nothing, of, offset, private, range, row, rows, select, selection, set, sheets, string, sub, text, the, then, to, true, value, with, worksheets']]

In [31]:
print(y)

['JavaScript' 'SQL' 'Java' 'C#' 'Python' 'PHP' 'C++' 'C' 'TypeScript'
 'Ruby' 'Swift' 'Objective-C' 'Vb.Net' 'Perl' 'VBA']

## Cleaning the text

In [32]:
import re
import nltk


from nltk.stem.porter import PorterStemmer
corpus = []

for i in range(0, 15):
  review = re.sub(',', ' ', dataset['Top Features'][i])
  
  review = review.split()
 
  review = ' '.join(review)
  corpus.append(review)

In [33]:
print(corpus)

['alert body class click content data div document else false for form function getelementbyid height href html http id if img input is javascript jquery js length li name new onclick option return script span src style td text the this title to tr true type value var width window', 'as begin by case count create date datetime dbo declare default desc end for from group id if in inner insert int into is join key left name not null on or order primary select set sql sum t1 table the then to type update value values varchar when where', 'add apache at catch class com exception false file final for http id if import in int is java javax lang list main method name new null object of org out println private property public return source static string sun system the this to true try type value void xml { } ;', 'add asp at bool byte class console data else false foo for foreach from get id if in int is item list name new null object of private public return select sender server set static string system text the this to tostring true type using value var void where writeline', '__init__ and class data db def django error file foo for from http id if import in is lib line models module name none not object of open os packages path print py python python2 request return self site sys test text the this to true type user usr value input float sum', '_post and array as br class com content data div echo else file for from function html http id if in input is name new null of option php public query result return row select string td test text the this title to true type url user value where www', 'and bool boost char class const cout cpp data double else end endl error file foo for function if in include int is it main name new null of operator private: public: return size std string struct template test the this to type typename unsigned using value vector virtual void', 'and argc argv array break buffer case char const count data define double else error exit file for from function if in include int is list long main malloc name next node null of printf return size sizeof stdio string struct temp the this to typedef unsigned value void while', 'angular angular2 any app class component console constructor core data div error export false from function html http id if import interface is js json let log module name new ng node_modules number path private public require return router script src string the this to true ts type value var', 'activerecord and base bin class com def div do each end error file foo for from gem gems html http id if in include is lib library local name new nil params post puts rails rake rb require ruby rubygems self string test the to true type user users usr', 'anyobject array as bool case cell class data else error false for frame func height iboutlet if image import in indexpath init int is let name nil not nsstring of override println return self sender size string super swift tableview text the to true uikit value var view viewdidload width', 'alloc array bool cell count data delegate else end error for frame id if import in indexpath init int interface is name nil no nonatomic nsarray nslog nsmutablearray nsstring objectatindex of property release retain return selector self size string stringwithformat super tableview text the to uiimage uiview view void yes', 'add and as asp byval class data dim end false for from function get handles id if in integer is item me name new next not nothing object of private property public return runat select sender server set string sub system text the then to tostring true try type value', 'and at bin data die error file foo for foreach from hash html http id if in is lib line my name new not of open or perl pl pm print return self shift strict string sub test text the this to txt type use usr value warnings while xml', 'activecell activesheet add and application as cell cells count data dim each else end error false for function if in integer is long me msgbox name new next not nothing of offset private range row rows select selection set sheets string sub text the then to true value with worksheets']

Creating the bag of words model

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, -1].values

## Training the Naive Bayes model on the Training set

In [35]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

## Predicting the Test set results

In [38]:
new_code = pd.read_csv('Java snippet.txt',sep='\t')

new_code = new_code.iloc[:,-1].values
s_new_code=''
for i in range(len(new_code)):
  s_new_code = s_new_code + (new_code[i])

s_new_code = s_new_code.split()
s_new_code = ' '.join(s_new_code)



new_corpus=[s_new_code]


new_X_test = cv.transform(new_corpus).toarray()
new_y_pred = classifier.predict(new_X_test)
print(new_corpus)
print(new_X_test)
print(new_y_pred)

['public static void main(String[] args) { int num = 5; for(int i = 1; i <= 10; ++i) { System.out.printf("%d * %d = %d \\n", num, i, num * i); } }}']
[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]]
['Java']